.Foyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.Foyer * {
    font-family: "Andale Mono", sans-serif;
}

.Foyer > * {
    height: 6rem;
    margin: 1rem 0;
    color: white;
    font-size: 4rem;
    background-color: transparent;
    border: none;
}


button:hover,
button:active {
    color: coral;
    border-color: coral;
}

.NicknameInput {
    width: 50rem;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}