.Corridor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.RoomList {
    height: 50rem;
    overflow-y: scroll;
}
.Room {
    background-color: transparent;
    width: 50rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
    border-radius: 10px;
    border: 1px solid white;
}

.RoomName {
    width: 30rem;
}
.Population {
    width: 20rem;
}